@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}
.navbar{
    padding-top: none;
    background-color: #59A52C;
}
ul li{
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 500;
}



@media (max-width:640px){
    a.active{
     background-color: black;
     color: white;
    }
}


